/**********************************************************************************************************************/
/* VARIABLES */
/**********************************************************************************************************************/

$base-size: 13px;
$body-background: $light-gray;
$border-radius: 4px;

$breakpoints: (
        small: 0px,
        medium: 768px,
        large: 1024px
);

$grid-columns: 12;
$grid-gap: 20px;