/**********************************************************************************************************************/
/* GRID / BREAKPOINTS */
/**********************************************************************************************************************/

$breakpoints: (
        small: 0px,
        medium: 768px,
        large: 1024px
);

$grid-columns: 12;