@import '../../../node_modules/normalize.css/normalize.css';

@import 'themes/theme-default';
@import 'settings';

@import 'global/base';
@import 'global/grid';

@import 'components/buttons';
@import 'components/forms';
@import 'components/typography';

/**********************************************************************************************************************/
/* ACCORDION */
/**********************************************************************************************************************/
.accordion {
   border: 1px solid $medium-gray;
   background: $white;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);

   &--title-wrapper {
      padding: $grid-gap/4 $grid-gap/2;
      display: flex;
      align-items: center;
   }
   &--title {
      display: block;
      font-weight: 700;
   }
   &--status {
      background-color: $success-color;
      padding: 0.5rem;
      margin-left: 0.75rem;
      border-radius: $border-radius;
      color: $white;
   }
   &--content-wrapper{
      padding: $grid-gap/2 0;
      border-top: 1px solid $medium-gray;
   }
}