@import '../../../node_modules/normalize.css/normalize.css';
@import '../fonts/icomoon/style.css';
@import 'themes/theme-default';
@import 'settings';
@import 'global/base';
@import 'global/grid';
@import 'components/buttons';
@import 'components/forms';
@import 'components/typography';

/**********************************************************************************************************************/
/* ACCORDION */
/**********************************************************************************************************************/
.accordion {
   border: 1px solid $line-color;
   background: $white;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);

   + .accordion {
      margin-top: $grid-gap;
   }

   &__title-wrapper {
      padding: 0 $grid-gap/2;
      display: flex;
      align-items: center;
      height: 2.5rem;
   }

   &__title {
      display: block;
      font-weight: 700;
      &:before{
         font-family: 'icomoon';
         content: "\e902";
         margin-right: 0.5rem;
      }
   }

   &__status {
      background-color: $success-color;
      padding: 0.3rem 0.5rem 0.25rem;
      font-size: 0.8465rem;
      margin-left: 0.75rem;
      border-radius: $border-radius;
      color: $white;
   }

   &__content-wrapper {
      border-top: 1px solid $line-color;
   }
}

/**********************************************************************************************************************/
/* PROJECT */
/**********************************************************************************************************************/
.project {
   border: 1px solid $line-color;
   margin: $grid-gap/2 0;

   &__header-wrapper {
      position: relative;
   }

   &__title {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.35);
      padding: $grid-gap/2;
      color: $white;
   }

   &__content-wrapper {
      padding: $grid-gap/2 0;
      font-size: 0.8465rem;
   }
}