/**********************************************************************************************************************/
/* BASE */
/**********************************************************************************************************************/
body{
   font-size: $base-size;
   background: $body-background;
   font-family: $font-family;
}
*, :after, :before {
   box-sizing: border-box;
}