/**********************************************************************************************************************/
/* GRID */
/**********************************************************************************************************************/
.grid {
   display: flex;

   .grid {
      margin-left: -$grid-gap/2;
      margin-right: -$grid-gap/2;
   }
}

.cell {
   flex: 0 0 auto;
   margin-left: $grid-gap/2;
   margin-right: $grid-gap/2;
}

/**********************************************************************************************************************/
/* BREAKPOINTS */
/**********************************************************************************************************************/
@each $breakpoint, $size in $breakpoints {
   @media only screen and (min-width: $size) {
      @for $i from 1 through $grid-columns {
         .#{$breakpoint}-#{$i} {
            flex: 0 0 (100% / $grid-columns * $i);
            max-width:  100% / $grid-columns * $i;
         }
      }
   }
}