/**********************************************************************************************************************/
/* FONT SIZES */
/**********************************************************************************************************************/
$font-sizes: (
        small: (
                'h1': 1rem
        ),
        medium: (
                'h1': 1.5rem
        ),
        large: (
                'h1': 2rem
        )
);

@each $size, $fonts in $font-sizes {
   @each $breakpoint, $breakpointSize in $breakpoints {
      @if ($breakpoint == $size) {
         @each $font, $fonts-defs in $fonts {
            @media only screen and (min-width: $breakpointSize) {
               #{$font} {
                  font-size: $fonts-defs;
               }
            }
         }
      }
   }
}

/**********************************************************************************************************************/
/* FONT STYLING */
/**********************************************************************************************************************/
h1, h2, h3, h4{
   margin-top: 0;
}

h1{
   font-weight: 400;
}