.button{
   background-color: $button-background;
   color: $button-color;
   border: $button-border;
   height: 2.125rem;
   border-radius: $border-radius;
   padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
   cursor: pointer;

   &--hollow{
      background-color: $button-hollow-background;
      color: $button-hollow-color;
      border: $button-hollow-border
   }

   &:focus{
      outline: none;
   }
}