.progress-label{
   background-color: $progress-label-background;
   padding: 0.3rem 0.5rem 0.25rem;
   font-size: 0.8465rem;
   margin-left: 0.75rem;
   border-radius: $border-radius;
   color: $progress-label-color;
}