/**********************************************************************************************************************/
/* FONT SIZES */
/**********************************************************************************************************************/
$font-sizes: (
        small: (
                'h1': 1rem,
                'h2': 1rem
        ),
        medium: (
                'h1': 1.5rem,
                'h2': 1.25rem
        ),
        large: (
                'h1': 2rem
        )
);

@each $size, $fonts in $font-sizes {
   @each $breakpoint, $breakpointSize in $breakpoints {
      @if ($breakpoint == $size) {
         @each $font, $fonts-defs in $fonts {
            @media only screen and (min-width: $breakpointSize) {
               #{$font} {
                  font-size: $fonts-defs;
               }
            }
         }
      }
   }
}

/**********************************************************************************************************************/
/* FONT STYLING */
/**********************************************************************************************************************/
h2, h3, h4, p{
   margin-top: 0;
}

p{
   &:last-child{
      margin: 0;
   }
}

h1{
   font-weight: 400;
}

h2{
   margin-bottom: 0.25rem;
}

h3{
   margin-bottom: 0.25rem;
}

a{
   text-decoration: none;
   color: $link-color;
   font-style: normal;
}

hr{
   border: none;
   height: 1px;
   background-color: $line-color;
   margin: $grid-gap/2;
}