/**********************************************************************************************************************/
/* COLORS */
/**********************************************************************************************************************/
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet';

$primary-color: #004893;
$success-color: #74b52a;
$error-color: #db3847;
$light-gray: #f5f5f5;
$medium-gray: #dfdfdf;
$dark-gray: #616161;
$black: #111111;
$white: #ffffff;

$font-family: 'Roboto', sans-serif;

$body-background: $light-gray;
$body-color: $black;
$border-radius: 4px;

$line-color: $medium-gray;

$input-border: 1px solid #cdd3d9;
$input-background: $white;
$input-color: $black;
$label-color: $black;
$last-update-color: mix(white, $black, 50%);

$button-background: $primary-color;
$button-color: $white;
$button-border: 1px solid $primary-color;
$button-hollow-background: transparent;
$button-hollow-color: mix(white, $black, 50%);
$button-hollow-border: 1px solid mix(white, $black, 50%);

$link-color: $black;