/**********************************************************************************************************************/
/* TYPO */
/**********************************************************************************************************************/
h3{
   font-size: 1.15rem;
}

/**********************************************************************************************************************/
/* FORMS */
/**********************************************************************************************************************/
label{
   font-size: 1.15rem;
   font-family: $header-font-family;
}

/**********************************************************************************************************************/
/* PROJECT */
/**********************************************************************************************************************/
.project{
   &__title{
      background-color: rgba($white, 0.35);
      color: $body-color;
   }
}